
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
@Html.Action("PartialHead")
<body>

    @Html.Action("PartialNavbar")
   
    @Html.Action("PartialQuickContack")

    @Html.Action("PartialFeature")

    @Html.Action("PartialService")
   
    @Html.Action("PartialSkill")

    @Html.Action("PartialAward")
  
    @Html.Action("PartialTestimonial")
   
    @Html.Action("PartialClient")
 
    @Html.Action("PartialContact")
 
    @Html.Action("PartialFooter")
  
    @Html.Action("PartialScript")

</body>

</html>